<div>
    <div class="logo">
        <a routerLink="/" class="simple-text text-danger">
            <h3 style="font-weight: 700; font-size: 20px;">Dietary</h3>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
                <a class="nav-link" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>